# Jetbrains
.idea

# Development
**/patches/*
**/build/*
**/output/*
**/artifacts/*
/references/
/builds/
/output/
config.json
config.y[a]ml
.env

# Logs
*.log

# Build
/dist/
*egg-info
*spec
!ToVRandomizerTools.spec

# Binaries
*.so
*.dll
*.dynlib

# Cache
*.pyc