# Jetbrains
.idea

# Development
**/patches/*
**/build/*
**/output/*
**/artifacts/*
/references/
/builds/
/output/
config.json
config.toml

# Binaries
*.so
*.dll
*.dynlib

# Build
/dist/
*egg-info
*spec
!ToVRandomizerTools.spec

# Cache
*.pyc